@{
    ViewData["Title"] = "All Posts";
    int UserId = (int)Context.Session.GetInt32("UserId");
}

@model List<Post>

@if(Model.Count == 0)
{
    <h1>Welcome! No Posts Yet 😭</h1>
}

@foreach (Post p in Model)
{
    bool liked = p.UserLikes.Any(ul => ul.UserId == UserId);
    <div class="shadow p-3 mb-3 text-center">
        <h3>@p.Title posted by @p.Poster?.Name at @p.CreatedAt.ToString("D") liked @p.UserLikes.Count times</h3>
        <div class="d-flex justify-content-center gap-2 m-2">
            <a asp-route-postId="@p.PostId" asp-action="ViewPost" asp-controller="Post" class="btn btn-primary">View</a>
            <form asp-action="ToggleLike" asp-controller="Post" method="Post" asp-route-postId="@p.PostId">
                <button class="btn btn-outline-info">@(liked?"Unlike":"Like")</button>
            </form>
        </div>
    </div>
}