@{
    int LoggedId = (int)Context.Session.GetInt32("UserId");
}

@model List<Sighting>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Sighted By</th>
            <th>Date</th>
            <th>Believed by</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sighting s in Model)
        {
            bool OurSighting = s.UserId == LoggedId;
            bool Believed = s.UserBeliefs.Any(ub => ub.UserId == LoggedId);
            <tr>
                <td><a asp-route-sightingId="@s.SightingId" asp-action="ViewSighting" asp-controller="Sighting" class="Classes">@s.Title</a></td>
                <td>@s.ReportingUser?.Name</td>
                <td>@s.Date.ToString("MMM d yyyy")</td>
                <td>@s.UserBeliefs?.Count</td>
                <td>
                    @if(OurSighting)
                    {
                        <form asp-route-sightingId="@s.SightingId" asp-action="DeleteSighting" asp-controller="Sighting" method="Post">
                            <button class="btn btn-danger">Okay I lied, I'm sorry</button>
                        </form>
                    }
                    else
                    {
                        <form asp-route-sightingId="@s.SightingId" asp-action="ToggleBelief" asp-controller="Sighting" method="Post">
                            <button class="btn btn-info">@(Believed?"No way, fake news!":"Amazingly true")</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>